@model IEnumerable<MarketSENA.Models.CiiuGrupo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CiiuDivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CiiuDivision.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CiiuGrupoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CiiuGrupoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CiiuGrupoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
